{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "max-len": [2, {
      "code": 80,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreStrings": true
    }]
  }
}